.Footer{
    margin-top: 100px;
    padding: none;
    background-color: rgb(6, 146, 6);
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Info p{
    color: white;
    margin-left: 75px;
}

.Info{
    margin-top: 50px;
    margin-bottom: 30px;
}

.social-icon {
    width: 50px;
    transition: transform 0.3s, filter 0.3s;
    margin-right: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
}
  
.social-icon:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}